<header>
  <nav class="navbar">
    <div class="logo">
      <img src="../../assets/logo.svg" alt="Logo PoMandoro" />
      <span>PoMandoro</span>
    </div>
  </nav>
</header>

<main class="pomandoro">

  <div class="display">
    <p>Timer: {{timer}}</p>
    <div class="progress-bar">
      <div class="bar" style="width:{{progressbar}}%;"></div>
    </div>
  </div>

</main>
<footer>
  <button class="start">start</button>
  <button class="reset">reset</button>
</footer>