/** Cores escolhidas - http://www.color-hex.com/color-palette/28918
                       http://www.color-hex.com/color/ee6969
  #fff8f8
  #fde0e0 	(253,224,224)
	#f4c1c1 	(244,193,193)
	#fdaaaa 	(253,170,170)
	#f97c7c 	(249,124,124)
  #ee6969   (238,105,105)
  #8e3f3f -> shadow
  #2f1515 -> text
 **/

 $white : #fde0e0;
 $red : #ee6969;
 $black-shadow : #8e3f3f;
 $black : #2f1515;
